غزل شمارهٔ ۲۲۰          
          ای یــــار، بـــیـــا و یـــاریـــی کـــن
          رنـجـه شـو و غـم‌گـسـاریی کن
          آخــــر ســــگـــک در تـــو بـــودم
          یــادم کــن و حــق‌گــزاریــی کــن
          ای نـــیـــک، ز مــن هــمــه بــد آمــد
          نــیــکــی کــن و بــردبــاریــی کـن
          بـر عـاشـق خـود مـگـیـر خـرده
          ای دوســــت بــــزرگــــواریــــی کــــن
          ای دل، چو تو را فتاد این کار
          رو بـــــر در یـــــار زاریـــــی کـــــن
          ای بــخــت، بــمــوی بــر عــراقـی
          وی دیـده، تـو نـیـز یـاریـی کن
          
<a href="https://www.w3schools.com">Visit W3Schools.com!</a>
